<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902743711536-jtsdibrkuogjdaahmbv6b2uv5h5avn6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902743711536-jtsdibrkuogjdaahmbv6b2uv5h5avn6q</string>
	<key>API_KEY</key>
	<string>AIzaSyCEDp28b3SaZR9cxFKnct3DMVZumr_p-JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>902743711536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matiuso.expensinho</string>
	<key>PROJECT_ID</key>
	<string>expensinho</string>
	<key>STORAGE_BUCKET</key>
	<string>expensinho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902743711536:ios:4a5c9428f9095bfa6032f5</string>
	<key>DATABASE_URL</key>
	<string>https://expensinho.firebaseio.com</string>
</dict>
</plist>